*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    padding-top: 100px;
    background-color: #E7E7E7;

}
header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
header img{
    height: 36px;
    width: 36px;
    margin-right: 16px;

}
header h1{
    font-size: 40px;
    font-weight: bold;
}
.container{
    max-width: 960px;
    width: 100%;
   margin: 0 auto;
}
form button{
    background-color: #009432;
    color:#fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
     cursor: pointer;
     padding: 8px;
}
form input{
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

form{
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}
table th{
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}
tbody td{
    padding: 8px;
    text-align: center;
    font-size: 24px;
    border-bottom:2px solid rgba(0, 0, 0, 0.1);
    
}
table td img{
    height: 30px;
    width: 30px;

}
tfoot td{
    padding: 8px;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    
    
}
.resultado{
    font-weight: bold;
    padding: 8px;
    font-size: 24px;
    background-color: black;
    color: #fff;
}
.reprovado{
    background-color: red;
}
.aprovado{
    background-color: #009432;
}